{% extends 'base.html.twig' %}

{% block title %}Edit Leasing{% endblock %}

{% block body %}
    <h1>Edit Leasing</h1>

    {{ include('leasing/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('leasing_index') }}">back to list</a>

    {{ include('leasing/_delete_form.html.twig') }}
{% endblock %}
